@import url('sidebar.css');
@import url('login.css');

:root {
    --sage-leaf: #a8b58a;
    --misty-sky: #a9b7c6;
    --rosewood: #b46a72;
    --blush-petal: #f7c8d3;

    --dark-rosewood: #56001e;
    --dark-sage: #394d2c;
    --dark-sky: #2d3a47;
}